.menu-container {
    font-family: Helvetica Now,Helvetica Now;
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    font-family: Helvetica Now,Helvetica Now;
    background-color: lightyellow;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    font-family: Helvetica Now,Helvetica Now;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: Helvetica Now,Helvetica Now;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-container:hover .dropdown-content {
    display: block;
}

.menu-container:hover .dropdown-btn {
    background-color: yellow;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content nav ul {
    list-style: none;
    padding: 0;
}

.footer-content nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer-content nav ul li:last-child {
    margin-right: 0;
}

.footer-content nav ul li a {
    color: #fff;
    text-decoration: none;
}

.galeria {
    position: relative;
    max-width: 800px;
    margin: 20px auto; /* Añadir margen en la parte superior e inferior para separar la galería */
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0; /* Eliminar cualquier margen predeterminado */
}


.carrusel img {
    width: 400%; /* Opcional: hace que las imágenes ocupen el ancho completo del contenedor */
    height: 100%; /* Opcional: hace que las imágenes ocupen la altura completa del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: auto; /* Permitir que el carrusel sea desplazable horizontalmente */
    padding: 30px; /* Añadir un poco de espacio alrededor del carrusel */
}

.carrusel img {
    max-width: 200%; /* Hace que las imágenes tengan un ancho máximo igual al 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}


button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}
